@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("4chan.org") {
/* Inverse colors of captcha */
.captchaimg > img {
    border: none !important;
    filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filters" color-interpolation-filters="sRGB"><feComponentTransfer><feFuncR type="table" tableValues="1 0"/><feFuncG type="table" tableValues="1 0"/><feFuncB type="table" tableValues="1 0"/></feComponentTransfer></filter></svg>#filters') !important;
}
/* Hide show QR link in appchanx */
a#showQR { display:none !important; }
}
