@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url("about:newtab") {

#newtab-scrollbox {
    background: #111 !important;
}

#newtab-search-container, #newtab-intro-what,
#newtab-intro-panel, #newtab-search-panel {
    display: none !important;
}

#newtab-margin-top, #newtab-margin-bottom {
    -moz-box-flex: 1 !important;
}

.newtab-cell {

    border-radius: 0 !important;
    /* margin: 0px !important; */

    /* outline: 2px solid red !important; */
}

.newtab-site:hover {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important; 
}

.newtab-site {
    box-shadow: none !important;
    margin: 0 !important;
}

.newtab-link {
     border-radius: 0 !important;
}

.newtab-title {
    padding: 2px !important;
    bottom: 0 !important;
    color: white !important;
    background: rgba(0, 0, 0, 0.75) !important;
}

}



