@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url("about:newtab") {
#newtab-scrollbox {
    background: #111111 !important;
}
#newtab-grid {
    min-width: 0px !important;
    min-height: 0px !important;
    -moz-box-flex: 60 !important;
}
.newtab-side-margin {
    min-width: 20px !important;
    -moz-box-flex: 1 !important;
}
#newtab-horizontal-margin {
    -moz-box-flex: 40 !important;
}
#newtab-margin-top, #newtab-margin-bottom {
    min-height: 0px !important;
    -moz-box-flex: 1 !important;
}
.newtab-row {
    margin-bottom: 5px !important;
}
.newtab-cell {
    background: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-right: 5px !important;
}
.newtab-title {
    background: rgba(0, 0, 0, 0.75) !important;
    box-shadow: none !important;
    color: #fff !important;
    border: none !important;
    text-align: center !important;
    font-size: 12px !important;
    padding: 0 !important;
    line-height: 16px !important;
    display: block !important;
    height: 16px !important;
    
}
.newtab-thumbnail, .newtab-thumbnail:hover {
    opacity: 1 !important;
    /*
    scale thumbnail to perfectly fit the cell
    background-size: 100% 100% !important;
    */
    /*
    scale thumbnail to fit the cell while preserving aspect ratio
    background-position: center center !important;
    background-size: contain !important;
    */
    /* scale thumbnail to the largest size that will fit in either direction (in the other it will be clipped) while preserving aspect ratio */
    background-size: cover !important;
}
.newtab-cell:hover, .newtab-site:hover, .newtab-site[dragged] {
    box-shadow: none !important;
}
.newtab-control-pin {
    /* white pin facing downwards */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="m 3 1 0 1 1.5 1 0 3 -2 1 4 0 0 4 0.5 2 0.5 -2 0 -4 4 0 -2 -1 0 -3 1.5 -1 0 -1 z"/></svg>') !important;
    left: 0 !important;
}
.newtab-control-block {
    /* white "X" icon */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M3.81 1.69 1.69 3.81 4.88 7 1.69 10.2 3.81 12.3 7 9.12l3.19 3.19 2.12-2.12-3.18-3.2 3.18-3.19-2.1-2.12-3.2 3.19-3.19-3.19z"/></svg>') !important;
    right: 0 !important;
}
.newtab-control-pin[pinned="true"] {
    /* white pin facing bottom-left corner */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M7 1.34 6.29 2.05 6.65 3.82 4.53 5.94 2.4 5.23 5.23 8.06 2.4 10.9 1.34 12.7 3.11 11.6 5.94 8.77 8.77 11.6 8.06 9.47 10.2 7.35 11.9 7.71 12.7 7z"/></svg>') !important;
}
.newtab-control:hover,
#newtab-toggle:hover {
    background-color: #2E5780 !important;
}
.newtab-control {
    transition-duration: 0s !important;
    z-index: 10000 !important;
    height: 16px !important;
    width: 16px !important;
    top: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background-size: 14px 14px !important;
    background-repeat: no-repeat !important;
    background-position: 1px 1px !important;
    -moz-appearance: none !important;
}
.newtab-site:hover::before {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    height: 16px;
    z-index: 1000;
    content: "";
}
#newtab-toggle {
    /* white 9 squares in a regular 3x3 grid */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><g style="fill:%23fff"><rect y="0" x="0" height="4" width="4"/><rect y="0" x="5" height="4" width="4"/><rect y="0" x="10" height="4" width="4"/><rect y="5" x="0" height="4" width="4"/><rect y="5" x="5" height="4" width="4"/><rect y="5" x="10" height="4" width="4"/><rect y="10" x="0" height="4" width="4"/><rect y="10" x="5" height="4" width="4"/><rect y="10" x="10" height="4" width="4"/></g></svg>') !important;   
    background-position: 1px 1px !important;
    background-repeat: no-repeat !important;
    background-size: 14px 14px !important;
    width: 16px !important;
    height: 16px !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    border: none !important;
}
#newtab-toggle::-moz-focus-inner {
    border: none !important;
}

#newtab-toggle[page-disabled] {
    opacity: 0.3 !important;
}
#newtab-toggle[page-disabled]:hover {
    opacity: 1 !important;
}
/* TODO: reenable search and style it. */
#newtab-search-container,
#newtab-margin-undo-container {
    display: none !important;
}
#newtab-margin-bottom {
    background: transparent !important;
}
}
