/*  TODO:
    Disabled elements.
    Meter bars.
*/
/*    
    Note: this file is intended to be used with Firefox (gecko).
    Some parts may be useful for other layout engines, of course.
*/
/* AGENT_SHEET */
@namespace url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*  Replace the ugly drop arrow button on select with a nice one.
    By the way, where the hell is a bug for this? Or is it just me?
    Note: since 35, mos-appearance none kills the dropmarker. This is OK for me -
    I've added a fake one via background of select. See bug 649849.
    There's supposedly a pseudo called moz-select-button now, but no documnetation
    of course. But I have to look into it. This here works for now.
*/
select {
/*  Note: the attribute fill="<color>" controls the color of the image. 
    It's in hex notation, but one needs to replace # with %23. 
    For example to get  blue (#f00), that part should look like this: fill="%23f00" 
    The shape is a triangle facing downwards. */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="20"><path fill="%23000" d="M0 0 10 10 20 0z"/></svg>') !important;
    background-size: auto 30% !important;
    background-color: transparent;
    background-repeat: no-repeat !important;
    background-position: right 0.2em center !important;
}
/* Accomodate for the dropmarker. */
option {
    padding-left: 2em !important; 
}
option, optgroup, select, input, textarea,
input[type="button"], input[type="submit"],
input[type="reset"], button,
input[type="button"]:active,
input[type="button"]:hover:active,
input[type="submit"]:active,
input[type="submit"]:hover:active,
input[type="reset"]:active,
input[type="reset"]:hover:active,
button:active, button:hover:active {
    background: #ffffff;
    color: #000000;
    -moz-appearance: none !important;
    padding: 0;
    border: solid #444444 1px;
}
option, optgroup {
    border: none;
}
option:disabled, optgroup:disabled {
    color: #ffffff;
    text-shadow: #000000 1px 1px;
}
select, input, textarea {
    border: solid #444444 1px;
}
/*  Style for checkboxes. */
/*  Note: I'm using !important when it's needed, because default css
    has important as well, so it's the only way to change it. */
input[type="checkbox"],
input[type="checkbox"]:hover:active,
input[type="checkbox"]:active,
input[type="radio"],
input[type="radio"]:hover:active,
input[type="radio"]:active {
    /* -moz-appearance: checkbox !important; */
    /* -moz-appearance: radio !important; */
    border: solid #444444 1px !important;
    background: #ffffff !important;
    color: #000000 !important;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
input[type="button"]:active,
input[type="button"]:hover:active,
input[type="submit"]:active,
input[type="submit"]:hover:active,
input[type="reset"]:active,
input[type="reset"]:hover:active,
button:active, 
button:hover:active {
    background: #2E5780;
    color: #ffffff;
}
/*  This selectors are needed to override the default. */
select:focus > option:checked,
select:focus > optgroup > option:checked {
  background: #2E5780 !important;
  color: #ffffff ! important;
}
/*  Border around selected elements. 
    It's generally for accessibility, so you see what is active when
    tabbing. When using the mouse it may be annoying. I decided to leave
    this for now. */
input[type="checkbox"]:-moz-focusring,
input[type="radio"]:-moz-focusring {
    border: 1px dotted #888888 !important;
}
/*  Hide focus borders on everything.
    Note: I can't seem to find a way to hide it for selects. */
/*
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: none !important;
}
*/
/*  File upload */
/*  Fix https://bugzilla.mozilla.org/show_bug.cgi?id=52500 */
/*  Edit: fixed in 23 */
input[type="file"] > input[type="text"] {
    width: calc(100% - 7em - 3px) !important;
}
input[type="file"] > input[type="button"] {
    width: 7em !important;
    margin-left: 3px !important;
}
/*  Progress bars */
progress {
    -moz-appearance: none !important;
    background: #ffffff;
    border: 1px solid #444444;
}
/*  Active part of the progress-bar */
::-moz-progress-bar {
    background: #444444;
}
/*  Field-set (frame around elements dividing forms in sections */
fieldset {
    border: 1px solid #444444;
}
/*  Font size */
input, button, textarea, select,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    font-size: 3.175mozmm; /* 9pt */
}
