@namespace url("http://www.w3.org/1999/xhtml");
@-moz-document url("chrome://browser/content/tabview.html") {
body {
    color: #ffffff;
    font-size: 12px;
    background: #111111 !important;
}
#bg {
    background: #111111 !important;
}
/* 
    Actions (exit, search)
*/
#actions {
    background: #444444 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    right: 0 !important;
    top: 0 !important;
    width: 18px !important;
    height: 34px !important;
    padding: 0 !important;
    font-size: 0 !important;
}
#actions > input {
    margin: 0 !important;
    padding: 0 !important;
    width: 16px !important;
    height: 16px !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: 1px 1px !important;
    opacity: 1 !important;
}
#actions > input#exit-button {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QAEQARABHTl+z4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQGCy0J5zxR5wAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAMElEQVQoz2P8////fwYkwMjIyMjAwMCALo4OmBjIBPTXSH/ASCj0cIXyEArVkaARABt6EA86GPt2AAAAAElFTkSuQmCC") !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
#searchbutton {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACNSURBVDjLndGxDYQwDIVhFzcEkdgvM2QvFqCiSnE0DMAI0HL/NY8mOAISybJk+0uUxAADPkACMrApJ9XNixON+GusYdPOACsQgaC8qp5qMGsgFs2oeq7BTQOhaAbV99YT59Y7flteFeAAeg+W/7gDi+InvACdB2vRC13wHTQNX/AT6OKnsMTTG3jiCRj+kPWH7PSquh4AAAAASUVORK5CYII=") !important;
    position: absolute !important;
    top: 16px !important;
    right: 0 !important;
}
/* 
    Search
*/
#searchshade {
    background-color: rgba(0, 0, 0, 0.75) !important;
}
#searchbox {
    width: 250px !important;
    height: 50px !important;
    margin: 0 !important;
    padding: 5px !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    top: calc(50vh - 25px) !important;
    left: calc(50vw - 125px) !important;
    font-size: 40px !important;
    background: rgba(32, 32, 32, 0.5) !important;
}
#otherresults {
    box-shadow: none !important;
    height: 16px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    font-size: inherit !important;
    color: #ffffff !important;
}
#otherresults > .label {
    color: inherit !important;
    font-size: inherit !important;
    line-height: 16px !important;
    margin: 0 5px 0 5px !important;
    vertical-align: top !important;
}
.inlineMatch {
    background:  rgba(255, 255, 255, 0.2) !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 1px !important;
    height: 14px !important;
}
.notMainMatch {
    opacity: 0.5 !important;
}
#results {
    display: inline-block !important;
    height: 16px !important;
}
.inlineMatch > img {
    margin: 0 3px 0 0 !important;
    position: static !important;
    background: transparent !important;
    width: 14px !important;
    height: 14px !important;
}
.inlineMatch > span {
    height: 14px !important;
    font-size: inherit !important;
}
/*
    Trenches (guides for moving/re-sizing groups)
*/
.guideTrench {
    opacity: 1 !important;
    border: 1px dashed #444444 !important;
    border-bottom: none !important;
    -moz-border-end: none !important;
    box-shadow: none !important;
}
/*
    Tab groups
*/
.groupItem {
    border: 1px solid #444444 !important;
    background: inherit !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.activeGroupItem {
    border-color: #4a8bcb !important;
}
.groupItem > .close {
    background-color: #444444 !important;    
}
.resizer {   
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="10" version="1.1"><g><path fill="%23444444" d="M0 10 10 10 10 0z"/></g></svg>') !important;
    background-size: 100% 100% !important;
    width: 10px !important;
    height: 10px !important;
}
.iq-resizable-se {
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
    right: -1px !important;
    bottom: -1px !important;
}

.titlebar { 
    font-size: 13px !important;
    height: 14px !important;
    background: #444444 !important;
}
.title-container { 
    width: calc(100% - 14px) !important;
}
.name {
    color: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px !important;
    display: block !important;
    height: 14px !important;
    border: none !important;
    background: #444444 !important;
}
.name::-moz-placeholder {
    opacity: 0.2 !important;
    font-style: italic !important;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAL3QAAC90BfgEZHAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABcSURBVChTY/j//z8LEM8D4ldA7AHEDPgwA1QxDPwgpIkBajIywKuJASr5g1hNMAbRmpA5RGlCt5KgJmwew6sJa0jg0SSMSwMuTaH4NGDTNJOQBhAWBpkMUgzEuwEuqOQV4bHlPAAAAABJRU5ErkJggg==") !important;
    background-position: 1px 1px !important;
    background-repeat: no-repeat !important;
    padding-left: 14px !important;
}
.title-container:hover input.name::-moz-placeholder {
    color: inherit !important;
}
.stackExpander {
    cursor: pointer;
    bottom: 8px;
    background-image: url("file:///tmp/exp.png") !important;
    background-size: 14px 14px !important;
    background-position: 1px 1px !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    width: 16px !important;
    height: 16px !important;
}
/* Note: I don't know what is this for. */
/* .title-shield { } */
/* 
    Closed tab groups
*/
.undo {
    background: transparent !important;
    padding: 0 !important;
    width: 250px;
    height: 14px !important;
    line-height: 14px !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #444444 !important;
    border-radius: 0 !important;
    text-align: left !important;
    border: solid 1px #444444 !important;
    font-size: 12px !important;
}

.undo > .close {
    top: 0 !important;
    right: 0 !important;
    opacity: 1 !important;
}
/*
    Tab thumbnails
*/
.tab {
    margin: 0 0 0 5px !important;
    padding: 0 !important;
    border: #444444 1px solid !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.tab.focus {
    border-color: #4a8bcb !important;
}
.tab::after {
    content: "" !important;
    width: 100% !important;
    height: 14px!important;
    background: rgba(0, 0, 0, 0.75) !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
.front.tab::after {
    display: none !important;
}
.thumb {
    box-shadow: none !important;
}
.tab canvas, .cached-thumb {
    border: none !important;
}
.tab-title {
    position: absolute !important;
    display: block;
    width: 100% !important;
    height: 14px !important;
    font-size: 12px !important;
    background: rgba(0, 0, 0, 0.75) !important;
    top: calc(100% - 14px) !important;
    text-align: center !important;
}
.tab > .close {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 1 !important;
}
.favicon {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 14px !important;
    height: 14px !important;
    background: transparent !important;
    z-index: 1 !important;
}
.favicon > img {
    width: 12px !important;
    height: 12px !important;
    margin: 1px !important;
}
/* 
    Misc 
*/
#actions > input:hover,
.inlineMatch:hover,
.close:hover,
#actions > input:hover,
.stackExpander:hover {
    background-color: #2E5780 !important;
}
.close {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABuSURBVCiRpZJLDsAgCESVS7DtyXs2b/K6gYYSbBo6iQvHeX6QCYyOJM218DynDwfwcQALOAEJvpi3LDOAG1RbcDnskGtZduRdSXDlSQR3cAll8A3O7y4r+E1/r9ouTvs72g0QT5bkOazRmzSb/ALS8uJAiyQ1zwAAAABJRU5ErkJggg==") !important;
    width: 14px !important;
    height: 14px !important;
    display: block;
}
}