@namespace url("http://www.w3.org/1999/xhtml");
@-moz-document url("chrome://tabgroups/content/tabview.xhtml") {
body {
    color: #ffffff;
    font-size: 12px;
    background: #111111 !important;
}
#bg {
    background: #111111 !important;
}
/* 
    Actions (exit, search)
*/
#actions {
    background: #444444 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    right: 0 !important;
    top: 0 !important;
    width: 18px !important;
    height: 34px !important;
    padding: 0 !important;
    font-size: 0 !important;
}
#actions > input {
    margin: 0 !important;
    padding: 0 !important;
    width: 16px !important;
    height: 16px !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: 1px 1px !important;
    opacity: 1 !important;
}
#actions > input#exit-button {
    /* 4 white rectangles */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><g fill="%23fff"><rect height="4" width="4" y="0" x="0"/><rect height="4" width="8" y="0" x="6"/><rect height="8" width="8" y="6" x="0"/><rect height="8" width="4" y="6" x="10"/></g></svg>') !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
#searchbutton {
    /* white magnifying glass */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M4.5 0c-2.49-0.0001-4.5 2.01-4.5 4.5 0.0000338 2.49 2.01 4.5 4.5 4.5 0.87 0 2.35-0.71 3.16 0.1l4.6 4.6c0.392 0.392 1.05 0.392 1.44-0.0001 0.392-0.392 0.392-1.05 0.000019-1.44l-4.6-4.6c-0.86-0.89-0.1-2.33-0.1-3.2 0-2.49-2.01-4.5-4.5-4.5zm-0.0000145 2c1.38-0.0001 2.5 1.12 2.5 2.5 0.0000507 1.38-1.12 2.5-2.5 2.5s-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5z"/></svg>') !important;
    position: absolute !important;
    top: 16px !important;
    right: 0 !important;
}
/* 
    Search
*/
#searchshade {
    background-color: rgba(0, 0, 0, 0.75) !important;
}
#searchbox {
    width: 250px !important;
    height: 50px !important;
    margin: 0 !important;
    padding: 5px !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    top: calc(50vh - 25px) !important;
    left: calc(50vw - 125px) !important;
    font-size: 40px !important;
    background: rgba(32, 32, 32, 0.5) !important;
}
#otherresults {
    box-shadow: none !important;
    height: 16px !important;
    background: rgba(255, 255, 255, 0.1) !important;
    font-size: inherit !important;
    color: #ffffff !important;
}
#otherresults > .label {
    color: inherit !important;
    font-size: inherit !important;
    line-height: 16px !important;
    margin: 0 5px 0 5px !important;
    vertical-align: top !important;
}
.inlineMatch {
    background:  rgba(255, 255, 255, 0.2) !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 1px !important;
    height: 14px !important;
}
.notMainMatch {
    opacity: 0.5 !important;
}
#results {
    display: inline-block !important;
    height: 16px !important;
}
.inlineMatch > img {
    margin: 0 3px 0 0 !important;
    position: static !important;
    background: transparent !important;
    width: 14px !important;
    height: 14px !important;
}
.inlineMatch > span {
    height: 14px !important;
    font-size: inherit !important;
}
/*
    Trenches (guides for moving/re-sizing groups)
*/
.guideTrench {
    opacity: 1 !important;
    border: 1px dashed #444444 !important;
    border-bottom: none !important;
    -moz-border-end: none !important;
    box-shadow: none !important;
}
/*
    Tab groups
*/
.groupItem {
    border: 1px solid #444444 !important;
    background: inherit !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.activeGroupItem {
    border-color: #4a8bcb !important;
}
.groupItem > .close {
    background-color: #444444 !important;    
}
.resizer {  
    /* grey triangle facing right-bottom corner */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="10"><path fill="%23444" d="M0 10 10 10 10 0z"/></svg>') !important;
    background-size: 100% 100% !important;
    width: 10px !important;
    height: 10px !important;
}
.iq-resizable-se {
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
    right: -1px !important;
    bottom: -1px !important;
}

.titlebar { 
    font-size: 13px !important;
    height: 14px !important;
    background: #444444 !important;
}
.title-container { 
    width: calc(100% - 14px) !important;
}
.name {
    color: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px !important;
    display: block !important;
    height: 14px !important;
    border: none !important;
    background: #444444 !important;
}
.name::-moz-placeholder {
    /* white pencil */
    opacity: 0.2 !important;
    font-style: italic !important;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12"><path fill="%23fff" d="m11 8.25-0.009 0.009-0.0215-0.0393-8.18-8.18c-0.0129-0.0129-0.026-0.0215-0.0338-0.0227l0.002-0.009-1.14 0.233-1.37 1.37-0.233 1.14 0.009-0.002c0.00085 0.008 0.01 0.0209 0.0227 0.0338l8.18 8.18 0.0393 0.0215-0.009 0.009 3.75 1.01z"/></svg>') !important;
    background-position: 1px 1px !important;
    background-repeat: no-repeat !important;
    padding-left: 14px !important;
}
.title-container:hover input.name::-moz-placeholder {
    color: inherit !important;
}
.stackExpander {
    /* white 4 arrows joined in the center pointing to corners */
    cursor: pointer;
    bottom: 8px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M0 0 0 5 1.06 3.94 4.16 7 1.06 10.1 0 9 0 14 5 14 3.94 12.9 7 9.84 10.1 12.9 9 14 14 14 14 9 12.9 10.1 9.84 7 12.9 3.94 14 5 14 0 9 0 10.1 1.06 7 4.16 3.94 1.06 5 0 0 0z"/></svg>') !important;
    background-size: 14px 14px !important;
    background-position: 1px 1px !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    width: 16px !important;
    height: 16px !important;
}
/* Note: I don't know what is this for. */
/* .title-shield { } */
/* 
    Closed tab groups
*/
.undo {
    background: transparent !important;
    padding: 0 !important;
    width: 250px;
    height: 14px !important;
    line-height: 14px !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #444444 !important;
    border-radius: 0 !important;
    text-align: left !important;
    border: solid 1px #444444 !important;
    font-size: 12px !important;
}

.undo > .close {
    top: 0 !important;
    right: 0 !important;
    opacity: 1 !important;
}
/*
    Tab thumbnails
*/
.tab {
    margin: 0 0 0 5px !important;
    padding: 0 !important;
    border: #444444 1px solid !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.tab.focus {
    border-color: #4a8bcb !important;
}
.tab::after {
    content: "" !important;
    width: 100% !important;
    height: 14px!important;
    background: rgba(0, 0, 0, 0.75) !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
.front.tab::after {
    display: none !important;
}
.thumb {
    box-shadow: none !important;
}
.tab canvas, .cached-thumb {
    border: none !important;
}
.tab-title {
    position: absolute !important;
    display: block;
    width: 100% !important;
    height: 14px !important;
    font-size: 12px !important;
    background: rgba(0, 0, 0, 0.75) !important;
    top: calc(100% - 14px) !important;
    text-align: center !important;
}
.tab > .close {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 1 !important;
}
.favicon {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 14px !important;
    height: 14px !important;
    background: transparent !important;
    z-index: 1 !important;
}
.favicon > img {
    width: 12px !important;
    height: 12px !important;
    margin: 1px !important;
}
/* 
    Misc 
*/
#actions > input:hover,
.inlineMatch:hover,
.close:hover,
#actions > input:hover,
.stackExpander:hover {
    background-color: #2E5780 !important;
}
.close {
    /* white "X" icon */
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"><path fill="%23fff" d="M3.81 1.69 1.69 3.81 4.88 7 1.69 10.2 3.81 12.3 7 9.12l3.19 3.19 2.12-2.12-3.18-3.2 3.18-3.19-2.1-2.12-3.2 3.19-3.19-3.19z"/></svg>') !important;
    width: 14px !important;
    height: 14px !important;
    display: block;
}
}