@namespace url(http://www.w3.org/1999/xhtml);
/*  Note: this works with the pic style - checkerboard extension 
    (https://addons.mozilla.org/en-us/firefox/addon/pic-style-checkerboard/).
    
    The structure is body.picstyle_body > img.picstyle_img.
*/
.picstyle_body {
    /*  Why these colors?
        I would set something dark.
        However, sometimes, I get images with transparent background and 
        dark details (like fonts), which is hard to see on a dark background.
        So I set colors with brightness around 50%, as an optimal compromise 
        for readability of dark and bright details on such images.
    */
    background-repeat: repeat !important;
    background-color: #997283 !important;
    background-size: 140px 140px !important; /* floor(sqrt(2)*gradient_width) */
    background-image: repeating-linear-gradient(45deg, transparent, transparent 50px, #6f5878 50px, #6f5878 99px) !important;
}
.picstyle_img {
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}
.picstyle_img:hover {
    outline: 1px solid rgba(255, 255, 255, 0.1) !important;
}
