@namespace url(http://www.w3.org/1999/xhtml);
/* Note: this works with the pic style - checkerboard extension. */
body.picstyle_body {
    background: #0d0d0d url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QATABMAExiqncoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEeECACiH5KswAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAARUlEQVQI1y3JsQ1AYBhF0YstvjHc/k8kRjCDpcyglOhM8AxgA1tonPagvuoEoM5DVV3AXlVPkrP7ZwQOYO3VluQGFmD7ABCvECJw2i5KAAAAAElFTkSuQmCC") repeat !important;
}