/*  TODO:
    cleanup
    custom addonbar icons
    svg images
*/
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url("http://www.w3.org/1999/xhtml");
/* searchbar */
#search-container { max-width: 250px !important; }
/* urlbar */
#urlbar-container { 
    max-width: 250px !important;
    min-width: 250px !important;
    background: inherit !important;
}
/* apply an svg filter (desaturate) to certain images */
.tab-icon-image, #addon-bar toolbarbutton > image {
    filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filters" color-interpolation-filters="sRGB"><feColorMatrix id="f1" type="saturate" values="0" /></filter></svg>#filters') !important;
}
/* favicon and throbber (when tab is loading) */
.tab-throbber, .tab-icon-image {
    width: 14px !important;
    height: 14px !important;
    margin: 0 3px 0 1px !important;
}
/* default favicon */
.tab-icon-image {
    /* almost empty image with transparent dashed frame */ 
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQMER0Wy36sIwAAACVpVFh0Q29tbWVudAABAAAAGJVzLkpNLElNUSjPLMlQcPf0DQAAN50F4vAq9YIAAAAmSURBVDjLY/j//789CDNAAdF8ZEFiATl6qADIduqoH4ePH8lJ5ABRUVqRbskH8gAAAABJRU5ErkJggg==") !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
}
/* common style for some toolbar buttons */
#TabsToolbar toolbarbutton, /* on tabs toolbar */
#addon-bar toolbarbutton { /* on addonbar */
    background: transparent !important;
    -moz-appearance: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    border: none !important;
    height: 16px !important;
    padding: 0 1px 0 1px !important;
}
#TabsToolbar toolbarbutton > image,
#addon-bar toolbarbutton > image {
    margin: 0 !important;
    width: 14px !important;
    height: 14px !important;
}
/* arrowscrollbox with tabs, and some buttons */
.tabbrowser-arrowscrollbox {
    margin: 0 !important;
    padding: 0 !important;
}
/* scrollbox with tabs */
.arrowscrollbox-scrollbox {
    margin: 0 !important;
    padding: 0 !important;
}
/* textbox in the urlbar */
textbox#urlbar {
    background: transparent !important;
    -moz-appearance: none !important;
    margin: 0 3px 0 0 !important;
    border: none !important;
}
/* input element in urlbar */
html|input.urlbar-input {
    color: #fff !important; 
}
/* top level container for tabs */ 
#navigator-toolbox { 
    border-bottom: none !important; 
}
/* menu button
   note: for some reason, on GNU/Linux this button has an id 
   appmenu-toolbar-button and on Windows appmenu-button
   #appmenu-toolbar-button, #appmenu-button */
/* text on the menu button ("Firefox") */
#appmenu-toolbar-button > .toolbarbutton-text,
#appmenu-toolbar-button > .toolbarbutton-icon,
#appmenu-button > .toolbarbutton-text, 
#appmenu-button > .toolbarbutton-icon {
    display: none !important;
}
/* menu button dropmarker (the arrow on the right) */
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker,
#appmenu-button > .toolbarbutton-menu-dropmarker {
    -moz-appearance: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
    /* high-contrast firefox icon */
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IB2cksfwAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90BHAYcDK6XCQIAAAHBSURBVDjLbVK7SgNBFN0kaBFEBVGwS7CQWNnZCNpZWFhYWVhIinS2AbEVsfAHUvoHsRAUUliliIQ8YPMg5Ll5bV6b124iuuO5y0xYJAOHuTv3nHvvnFlJ4ms6nXol22o2mysinkwmq9KyNRqNzjRNe6Z4PB775vO53Ol0LkQ+Eom4dV1/Gw6HuwtRPp9fm81mDOIw4OdxNJPJbNiLl8vlc+R++/2+zzpAp2vDMJgdOAth9KNSqeQSwlgs5kbBOMSmqqrbNNoLxjCFyB7XarUTEgWDQQd4p9VqNUDniB9IGAeZ2QEztEKhcCvL8joJ0+m0q9VqBWDYHeUxTZkcUxAwARigolg0kUg4/93xgIus4uSoCjETwHcR9/E0Go0dEIogfpCwXq97OcekncwpgMzsQMcfgA0GgxHudR8KhZzdbvfKxjEkvFcYYhMgN2lUBstbuM9rKpU6pm44uyQB55ko8ikpiuInAaqbgLXzqmlyHOhRMZ63GsDtGwkmbLXb7Ti6UCeT78tg5TDJezKZ3LQcy2azhxDL1JEIvPMC4gxP8oU/an9hdS6Xc+Ct9iqVyiOSqV6vp9tE3yiahUlP4HiE5g9lny9bfOrQLQAAAABJRU5ErkJggg==") !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
}
/* go button (the one that you can press to accept the current url) */
#go-button { 
    display: none !important; 
}
/* indetity box */
#identity-box {
    width: 16px !important;  
    height: 16px !important;
    min-width: 0 !important;  
    min-height: 0 !important;
    border: 0 !important;
    border-radius: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
}
/* identity box text label */
#identity-icon-labels { 
    display: none !important; 
}
/* identity box icon */
#page-proxy-favicon { 
    width: 14px !important;  
    height: 14px !important;
    min-width: 0 !important;  
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 0 0 1px !important;
    /* this contains 4 icons, one for each state; from left: 
       * normal/unsecure (globe)
       * mixed content
       * secure with verified domain (padlock)
       * secure with verified identity (stronger padlock) */
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAOCAYAAAB6pd+uAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGcSURBVEjHY/j//z8DEhYAYgsgtgHiZ0D8AIiNgdgWiLnQ1KJjJSBeDsRPgfgxEC8EYgkCekBYFYjXAfFLEvU5A/EmIH4BxA+BeDUQG6GrQ+aEAvE7IA4A4m//EeA9EMdAPeyCwzJxqMcKgVgGiK2BeAlUjxgeR2oC8Vsgng7EeiToawPif/8xwW8gzsLmwUCo5FkgnoBFYxMQ34F63A5PTKCLrYM6HpdDtwNxH4n6PP7jBz+hgYURg7TAoBi/hkOOCYg/4QgYfPr2I3lmFxDrQ7PUGSTx+cgerESSKMQTMshymUR6EJSnP1BRDhYo/6FJVB1Jzg3JfVeRPbgHSaIEjweR5dYgGcwHxNF08qAAkhs+ECMHIsqBuAGKrZHY6BhZLh/N4Hd08uDu/8SD2dTyIMzSP1hisgLZMjIcOxstpZAC3lEjiaJbisuT6DHMR4ojsSRBYsAHahQy2CzF5slMPPmFoCMp9SAlGJelf/AUPAPiQXIrenyW/iFQutI9BslpqhHKS7g8SU4eJLuQobSxvZsIT1pRoRQlq5oAAPvTokjAYnI9AAAAAElFTkSuQmCC") !important;
    /* select normal state icon */
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
    background: transparent !important;
}
/* proxy-favicon for about:newtab and possibly others */
#page-proxy-favicon[pageproxystate="invalid"] {
    opacity: 0.3 !important;
}
/* verified domain */
#identity-box.verifiedDomain > #page-proxy-favicon[pageproxystate="valid"] {
    -moz-image-region: rect(0px, 42px, 14px, 28px) !important;
}
/* verified identity */
#identity-box.verifiedIdentity > #page-proxy-favicon[pageproxystate="valid"] {
    -moz-image-region: rect(0px, 56px, 14px, 42px) !important;
}
/* mixed content (part of the site unencrypted) */
#identity-box.mixedContent > #page-proxy-favicon[pageproxystate="valid"] {
    -moz-image-region: rect(0px, 28px, 14px, 14px) !important;
}
/* icons right of editbox (like bookmark star) */
#urlbar-icons { 
    height: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
}
/* bookmark star button */
#star-button,
/* autocomplete bookmark icon */
.ac-result-type-bookmark,
.autocomplete-treebody::-moz-tree-image(bookmark, treecolAutoCompleteImage) {
    /* heart icon */
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAxDwAAMQ8BtxaZ/wAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAChSURBVDjLnZKxDYNAEATXck5M5iqQS6ACk5O4RRdATEQHJqGCFwmMA99LJ/wI8yut9NrbSe5egJxL4LLJZFnps/hogYmv3kDtSrVlWKeNYMOvFuBpXhLzRkDPefUCQgYYBIwZ4CigywA7ARUwn4BmoPLnWP+AVn+O6MfBooJ1tAUF3N1H8Jpspj1QwA0YHDRYpiNQQAG8zEWqswcKuJqT8w8j9741/gtsxgAAAABJRU5ErkJggg==") !important;
    width: 14px !important;
    height: 14px !important;
    padding: 0 !important;
}
#star-button {
    margin: 0 !important;
    opacity: 0.3 !important;
}
#star-button[starred="true"] {
    opacity: 1 !important;
}
/* arrow icon opening autocomplete history (same as pressing down) */
.urlbar-history-dropmarker { 
    display: none !important;
}
/* tab close button */
.tab-close-button { 
    display: none !important; 
}
/* new tab button */
toolbarbutton.tabs-newtab-button, 
toolbarbutton#new-tab-button {
    /* plus icon */
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QAEQARABHTl+z4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQGDAAuZ1Oo5gAAACVpVFh0Q29tbWVudAABAAAAGJVzLkpNLElNUSjPLMlQcPf0DQAAN50F4vAq9YIAAAAcSURBVDjLY2AY+uA/FAxSjf8JAOprHEKBM7gBAO6xb5EM9ar2AAAAAElFTkSuQmCC") !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
}
/* tab */
.tabbrowser-tab {
    color: #fff !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    min-height: 0 !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
    text-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
/* selected tab */
.tabbrowser-tab[selected="true"] {
    /* background: #444 !important; */
    font-weight: bold !important;
}
/* tabs container */
.tabbrowser-tabs { 
    background: transparent !important;
    max-height: inherit !important;
}
/* primary toolbar (like tabs toolbar, addon bar etc.) */
.toolbar-primary {
    background: #111111 !important;
    height: 16px !important; 
    min-height: 0px !important;
    padding: 0px !important;
    border: none !important;
    -moz-appearance: none !important;
}
/* status bar (the element right of addon bar */
#status-bar {
    display: none !important;
}
/* addonbar close button */
#addonbar-closebutton {
    /* "X" icon */
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABuSURBVCiRpZJLDsAgCESVS7DtyXs2b/K6gYYSbBo6iQvHeX6QCYyOJM218DynDwfwcQALOAEJvpi3LDOAG1RbcDnskGtZduRdSXDlSQR3cAll8A3O7y4r+E1/r9ouTvs72g0QT5bkOazRmzSb/ALS8uJAiyQ1zwAAAABJRU5ErkJggg==") !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
} 
/* tab scroll buttons */
.scrollbutton-up, .scrollbutton-down {
    /* right arrow triangle icon */
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABJSURBVDjLY/j//z8DOZiBHhoFSdUoAsTTgXgNsRpZgDgPiN/9h4ANxGh0BeKr/1EBXo3KUAXYAG00ku1UigOHouigOAFQN60CAIEuaUsPHqYoAAAAAElFTkSuQmCC") !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
    width: 16px !important;
}
/* icons on tab scroll buttons */
.scrollbutton-up > .toolbarbutton-icon,
 .scrollbutton-down > .toolbarbutton-icon {
    -moz-appearance: none !important;
}
/* flip the right scroll button's icon */
 .scrollbutton-down > .toolbarbutton-icon {
    transform: scaleX(-1) !important;
 }
/* tab groups button */
#tabview-button {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QAEQARABHTl+z4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQGCy0J5zxR5wAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAMElEQVQoz2P8////fwYkwMjIyMjAwMCALo4OmBjIBPTXSH/ASCj0cIXyEArVkaARABt6EA86GPt2AAAAAElFTkSuQmCC") !important;
    -moz-image-region: rect(0px, 14px, 14px, 0px) !important;
}
/* Scrollbar stuff.
   Notes:
   xul scrollbar layout:
     <scrollbar>
       <xul:scrollbarbutton type="decrement"/>
       <xul:slider flex="1">
         <xul:thumb/>
       </xul:slider>
       <xul:scrollbarbutton type="increment"/>
     </scrollbar>
   scrollbar has an attribute "orient" 
   which can be "vertical" or "horizontal"
   scrollbarbutton has an attribute "type"
   which can be "increment" or "decrement" */
/* scrollbar (outermost container) */
scrollbar {
    -moz-appearance: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
/* vertical scrollbar */
scrollbar[orient="vertical"] { 
    width: 6px !important; 
    background-position: bottom !important;
}
/* horizontal scrollbar */
scrollbar[orient="horizontal"] { 
    height: 6px !important;
    background-position: right !important;
}
/* scrollbar handle */
scrollbar thumb {
    -moz-appearance: none !important;
    border: none !important;
    background: #444444 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
/* scrollbar up/down buttons (possibly others) */
scrollbarbutton { 
    background: #0f0 !important;
    display: none !important;
}
/* scrollbar slider (the part on which the handle moves) */
scrollbar slider {
    background: transparent !important;
}
scrollbar,
/* scrollbars corner (shown when both horizontal 
   and vertical scrollbars are visible) */
scrollcorner {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABLSURBVAiZbcyxCQAxDATBtVGiUE2oEvdfgBq5ROCPzIPxpcPtWGttSVQV3c3ZlIS7k5mY2Q9VxQtnd/PCEREbwMzITNwdSczTvJ8f7CAp+bicUDIAAAAASUVORK5CYII=") !important;
    background-size: 6px 6px !important;
}
/*  
    The following code is a hack working around bug: 
    https://bugzilla.mozilla.org/show_bug.cgi?id=401213
    - scrollbars are scaled with the page content when you use zoom.
    The way this works is that media querries are used to determine 
    the zoom level (ratio between css pixels and device pixels). 
    Firefox has 8 enlargement zoom levels and 5 reduction ones, when 
    using ctrl + +/ctrl + - shortcuts, zoom commands from menu, zoom 
    toolbar buttons. Ctrl + scroll uses different steps (and more).
    I found the ratios for the zoom levels with percision of 2 digits 
    after decimal point. Now for each zoom level, the scrollbars 
    width and height (and background size) are fixed (lowered
    for enlargement, increased for reduction), as to get the right
    amount of device pixels. This works exactly for those exact zoom 
    levels, but not others. It will hovewer always at least minimize 
    the amount the scrollbars are resized.
*/
/* Enlagrement */
@media (min-resolution: 1.09dppx) {
scrollbar[orient="vertical"] { width: 5.505px !important; }
scrollbar[orient="horizontal"] { height: 5.505px !important; }
scrollbar, scrollcorner { background-size: 5.505px 5.505px !important; } }
@media (min-resolution: 1.19dppx) {
scrollbar[orient="vertical"] { width: 5.042px !important; }
scrollbar[orient="horizontal"] { height: 5.042px !important; }
scrollbar, scrollcorner { background-size: 5.042px 5.042px !important; } }
@media (min-resolution: 1.32dppx) {
scrollbar[orient="vertical"] { width: 4.545px !important; }
scrollbar[orient="horizontal"] { height: 4.545px !important; }
scrollbar, scrollcorner { background-size: 4.545px 4.545px !important; } }
@media (min-resolution: 1.5dppx) {
scrollbar[orient="vertical"] { width: 4px !important; }
scrollbar[orient="horizontal"] { height: 4px !important; }
scrollbar, scrollcorner { background-size: 4px 4px !important; } }
@media (min-resolution: 1.71dppx) {
scrollbar[orient="vertical"] { width: 3.509px !important; }
scrollbar[orient="horizontal"] { height: 3.509px !important; }
scrollbar, scrollcorner { background-size: 3.509px 3.509px !important; } }
@media (min-resolution: 2dppx) {
scrollbar[orient="vertical"] { width: 3px !important; }
scrollbar[orient="horizontal"] { height: 3px !important; }
scrollbar, scrollcorner { background-size: 3px 3px !important; } }
@media (min-resolution: 2.39dppx) {
scrollbar[orient="vertical"] { width: 2.51px !important; }
scrollbar[orient="horizontal"] { height: 2.51px !important; }
scrollbar, scrollcorner { background-size: 2.51px 2.51px !important; } }
@media (min-resolution: 3dppx) {
scrollbar[orient="vertical"] { width: 2px !important; }
scrollbar[orient="horizontal"] { height: 2px !important; }
scrollbar, scrollcorner { background-size: 2px 2px !important; } }
/* Reduction */
@media (max-resolution: 0.9dppx) {
scrollbar[orient="vertical"] { width: 6.667px !important; }
scrollbar[orient="horizontal"] { height: 6.667px !important; }
scrollbar, scrollcorner { background-size: 6.667px 6.667px !important; } }
@media (max-resolution: 0.8dppx) {
scrollbar[orient="vertical"] { width: 7.5px !important; }
scrollbar[orient="horizontal"] { height: 7.5px !important; }
scrollbar, scrollcorner { background-size: 7.5px 7.5px !important; } }
@media (max-resolution: 0.67dppx) {
scrollbar[orient="vertical"] { width: 8.955px !important; }
scrollbar[orient="horizontal"] { height: 8.955px !important; }
scrollbar, scrollcorner { background-size: 8.955px 8.955px !important; } }
@media (max-resolution: 0.5dppx) {
scrollbar[orient="vertical"] { width: 12px !important; }
scrollbar[orient="horizontal"] { height: 12px !important; }
scrollbar, scrollcorner { background-size: 12px 12px !important; } }
@media (max-resolution: 0.3dppx) {
scrollbar[orient="vertical"] { width: 20px !important; }
scrollbar[orient="horizontal"] { height: 20px !important; }
scrollbar, scrollcorner { background-size: 20px 20px !important; } }

/* hover background color */
.tabbrowser-tab:hover, /* tab */
#TabsToolbar toolbarbutton:hover, /* buttons on tabs toolbar */
#addon-bar > toolbarbutton:hover, /* buttons on addons toolbar */
.scrollbutton-up:hover, /* scrollbuttons */
.scrollbutton-down:hover,
#identity-box:hover, /* identity box */
scrollbar thumb:hover, /* scrollbar handle */
scrollbar thumb:active,
#star-button:hover, /* bookmark button */
.autocomplete-richlistitem[selected="true"] { /* selected ac rlb item */
    background: #2E5780 !important;
    opacity: 1 !important;
    box-shadow: none !important;
    transition-duration: 1ms !important;
}
/* some tweaks for DOM Inspector addon */
treechildren::-moz-tree-cell-text(ELEMENT_NODE) {
    color: #ffffff !important;
}
treechildren::-moz-tree-cell-text(CDATA_SECTION_NODE),
treechildren::-moz-tree-cell-text(TEXT_NODE) {
    color: #4444aa !important;
}
/* autocomplete richtext listbox used for autocomplete of url; styled in autocomplete.css */ 
.autocomplete-richlistbox {
    background: #111111 !important;
}
/* autocomplete richtext listbox item */
.autocomplete-richlistitem {
    color: #ffffff  !important;
}
/* url autocomplete richtext listbox url of site; styledd in browser.css */
.ac-url-text {
    color: #cccccc !important;
}
/* .ac-site-icon, .ac-type-icon - ac left/right icons */
/* #statusbar-display, statuspanel-inner */
/* Label popping up when hovering over links */
.statuspanel-label {
    background: #2E5780 !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 2px !important;    
    color: #ffffff !important;
}
/*
button {
    background: transparent !important;
    border: 1px solid #444 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #fff !important;
    text-shadow: none !important;
}
button:hover {
    background: rgba(255, 255, 255, 0.3) !important;
}
*/
